*{
    margin: 0%;
    padding: 0%;
}

section{
    height: 100%;
    width: 100%;
    background-color: darkslategray;
    padding-top: 70px;
}

section>article{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.x{
    height: 80%;
    width: 25%;
    background-color: silver;
    border-radius: 10px;
    box-shadow: 5px 5px 10px sienna;
    padding-top: 40px;
}

.x>a>button{
    margin: 5px 0px 0px 100px;
    height: 40px;
    width: 120px;
    border-radius: 50px;
    background-color: cadetblue;
}

.x>a>button:hover{
    cursor: pointer;
    transform: scale(1.2);
    transition: 0.2s;
}

.x>h1{
    text-align: center;
    padding: 20px 0px 20px;
}

.x>h4{
    text-align: center;
}

.x>p{
    text-align: justify;
    margin: 15px;
    padding: 5px 0px;
}

.a>div{
    height: 160px;
    width: 150px;
    border-radius: 50%;
    background-image: url(./JERRY.jpg);
    background-size: cover;
    margin: auto;
    border-style: groove;
    box-shadow: 5px 5px 10px rgb(89, 80, 80);
}

.b>div{
    height: 160px;
    width: 150px;
    border-radius: 50%;
    background-image: url(./JERRY.jpg);
    background-position: center;
    background-size: cover;
    margin: auto;
    border-style: groove;
    box-shadow: 5px 5px 10px rgb(89, 80, 80); 
}

.c>div{
    height: 160px;
    width: 150px;
    border-radius: 50%;
    background-image: url(./JERRY.jpg);
    background-position: center;
    background-size: cover;
    margin: auto;
    border-style: groove;
    box-shadow: 5px 5px 10px rgb(89, 80, 80); 
}

.d>div{
    height: 160px;
    width: 150px;
    border-radius: 50%;
    background-image: url(./JERRY.jpg);
    background-position: center;
    background-size: cover;
    margin: auto;
    border-style: groove;
    box-shadow: 5px 5px 10px rgb(89, 80, 80); 
}

.e>div{
    height: 160px;
    width: 150px;
    border-radius: 50%;
    background-image: url(./JERRY.jpg);
    background-position: center;
    background-size: cover;
    margin: auto;
    border-style: groove;
    box-shadow: 5px 5px 10px rgb(89, 80, 80); 
}

.f>div{
    height: 160px;
    width: 150px;
    border-radius: 50%;
    background-image: url(./JERRY.jpg);
    background-position: center;
    background-size: cover;
    margin: auto;
    border-style: groove;
    box-shadow: 5px 5px 10px rgb(89, 80, 80); 
}